*{
    margin:0%;
    padding:0%;
}
div#global{
margin: auto;
margin-top: 50px;
width: 980px;
height: 400px;


}
div#derecha{
    float: right;
    width: 300px;
    height: 400px;
    border-radius: 25%;     
   
}
div#presentacion{
    width: 680px;
    height: 200px;
    
}

div#equipo{
    width: 680px;
    height: 200px;
    display: flex;
   

}
div#proyec{
    width: 340px;
    height: 200px;
    
}

img#logo_navbar{    
    width: 90px;
    height: 90px; 
    border-radius: 60%; 
    
      
  }
  div#formulario{
    margin-top: 50px;
    margin-left: 50px;    
    width: 680px;
    height: 200px;
}

    nav#vertical_navbar{
        width: 300px;
        height: 400px; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
      }
      .item_image {          
        width: 40px;
        height: 40px; 
      }
    

  
  h1{
      text-align: center;
      color: blueviolet;
  }
  h2{
    text-align: center;
    color: chartreuse;
  }
td{
    font-size: 30px;
    color: chartreuse;
}
#btn_Registro{
    width: 90px;
    height: 30px;
    background-color:yellow;
    
}

  body{
      background-image: url(img/fondo.jpg);
  }