body{
  margin:  0px;
  padding:  0px;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  font: Lato; font-family: 'Lato';font-size: 20px;
}

#contenedor_principal{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  text-align: center;
  align-items: center;
  align-content: stretch;

}

#contenedor_secundario{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: justify-all;
  align-items: center;
  align-content: stretch;
  background-color: #211d7b;
  font: Lato; font-family: 'Lato';font-size: 20px; color: brown;

}

#items {
  display: flex;
}

.item{
  padding: 30px;
  text-align: center;
}

.item_image {
  width: 20%;
}

.item_title {

}

.item_description{

}

#item_logo{
  padding: 5px;;
  text-align: left;  
}

#vertical_navbar{
  width: 15%;
  background-color: #211d7b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#logo_navbar {

}

#btn_Registro{

}