*{
    margin:0%;
    padding:0%;
}
div#global{
margin: auto;
margin-top: 50px;
width: 980px;
height: 400px;


}
div#derecha{
    float: right;
    width: 300px;
    height: 400px;
    border-radius: 25%;     
   
}
div#presentacion{
    width: 680px;
    height: 200px;
    
}

div#equipo{
    width: 680px;
    height: 200px;
    display: flex;
   

}
div#proyec{
    width: 340px;
    height: 200px;
}

img#logo_navbar{    
    width: 300px;
    height: 400px;  
      
  }
  div#formulario{
    margin-top: 50px;
    margin-left: 50px;    
    width: 680px;
    height: 200px;
    

  }
  h1{
      text-align: center;
  }
  h2{
    text-align: center;
  }
td{
    font-size: 30px;
}

  body{
      background-image: url(img/fondo.jpg);
  }